body {
  font-family: Arial;
  margin: 20px;
}

table {
  border-collapse: collapse;
  width: 100%;
  margin-top: 20px;
}

td,
th {
  border: 1px solid #ccc;
  padding: 8px;
}

th {
  background: #eee;
}

.btn {
  padding: 5px 12px;
  cursor: pointer;
  border: none;
  border-radius: 4px;
}

.btn-edit {
  background: #ffc107;
}

.btn-del {
  background: #dc3545;
  color: white;
}

.btn-save {
  background: #28a745;
  color: white;
}

/* MODAL BACKGROUND */
.modal {
  display: none;
  position: fixed;
  z-index: 2;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

/* MODAL BOX */
.modal-content {
  background-color: #fff;
  margin: auto;
  padding: 20px;
  border-radius: 8px;
  border: 1px solid #888;
  width: max-content;
}

/* CLOSE BUTTON */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  cursor: pointer;
}
